.cont{
    width: auto;
    height: 160px;
    background-color: var(--color-blue);
    margin-top: 20px;
    border-radius: 25px;
    
}
.gaming-library-card{
color: #fdfdfd;

}
.CardG{
    width: auto;
    height: 120px;
    background-color: #192EFA;
    border-radius: 25px;
    margin: 20px;
    position: relative;
    top: 20px;
}
.imgcard{
    width: 10%;
    
    border: solid black 2px ;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0px 0px 80px white;
    position: relative;
    left: 200px;
}
.ul11 {
    display:flex;
    justify-content: space-between;
    position: relative;
    right: 150px;

}
.lii{
    display:flex;
    justify-content: space-between;
    position: relative;
    right: 250px;
    margin-top: 40px;
    

}
.main-buttonn{
    box-shadow: 0px 0px 80px #75DAF2;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 600;
    position: relative;
    top: -85px;
    left: 1050px;
    
}
.main-buttonn :hover{
    font-weight: 500;
    background-color:#1678FC ;
    color:white;
    
}





